.cart_item img {
    max-width: 7rem;
    vertical-align: bottom;
}

.cart_item {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text {
    margin-left: 40px;
    align-self: flex-end;
}

.text img {
    width: 30px;
}

.price {
    margin-left: auto;
    align-self: flex-end;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.product_container {
    max-width: 85%;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.content {
    margin-top: 20px;
}

.info input {
    width: 50%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    /* same appearance in all browser correct */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.empty_container {
    max-width: 80rem;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16rem;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.empty {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Table Styles */

th, td {
    font-size: 1rem;
    font-weight: lighter;
}

.order {
    margin: 8rem auto 3rem auto;
    text-align: center;
}

.order img {
    width: 4rem;
}

.table-container {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px #00000033;
}

.table-container-profile {
    box-shadow: none;
}

.order-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.order-table td, .order-table th {
    text-align: center;
    padding: 8px;
}

.order-table tr:nth-child(even) {
    background: #F8F8F8;
}

.history tr:hover {
    background: #32496091;
}

.order-table thead th {
    color: #ffffff;
    background: #324960;
}

caption {
    background-color: #f8f8f8;
    border: none;
    text-align: left;
}

.profile img {
    margin: 1rem;
    width: 4rem;
}

