* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin-top: 5rem;
}

h1 {
  font-size: 3rem;
  font-weight: lighter;
}

h2 {
  font-size: 2.2rem;
  font-weight: 300;
}

h3 {
  font-size: 1.8rem;
  font-weight: lighter;
}

h4 {
  font-size: 1.3rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: lighter;
}

.error {
  color: red;
  font-weight: 400;
}

.success {
  margin-top: 8rem;
  text-align: center;
  margin-bottom: 3rem;
}
.success h1 {
  font-weight: 400;
  color: green;
}

