.product_container a {
    color: black;
    text-decoration: none;
}

.product_container {
    /* sätter marginal från topp på sidan */
    margin-top: 5rem;
    /* placerar innehållet i ett rutnät */
    display: grid;
    /* delar upp bredd i fraktioner av hemsidan */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* delar upp höjd i efter efterfrågat mått */
    grid-template-rows: 200px 400px 400px 400px 400px 50px;
    /* förklarar vilken del som ska finnas vart på sidan */
    grid-template-areas: "header header header header"
    "symbol1 symbol2 symbol3 symbol4"
    "symbol5 symbol6 symbol7 symbol8"
    "symbol9 symbol10 symbol11 symbol12"
    "symbol13 symbol14 symbol15 symbol16";
    margin-left: 20px;
    margin-right: 20px;
    grid-gap: 20px;
}

/* sätter storlek på bilder */
.product_container img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: 0;
}

/* tillkallnings funktioner för placering */

.heading {
    background-color: lightblue;
    grid-area: header;
    padding: 20px;
    line-height: 1.5;
}

.info {
    background-color: lightblue;
    grid-area: header;
    padding: 20px;
    line-height: 1.5;
}

.product_1 {
    background-color: #eaedee;
    border: 3px solid white;
    grid-area: symbol1;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.product_2 {
    background-color: #eaedee;
    border: 3px solid white;
    grid-area: symbol2;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.product_3 {
    background-color: #eaedee;
    border: 3px solid white;
    grid-area: symbol3;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.product_4 {
    background-color: #eaedee;
    border: 3px solid white;
    grid-area: symbol4;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.product_5 {
    background-color: #eaedee;
    border: 3px solid white;
    padding: 10px;
    grid-area: symbol5;
    display: flex;
    justify-content: center;
}

.product_6 {
    background-color: #eaedee;
    border: 3px solid white;
    padding: 10px;
    grid-area: symbol6;
    display: flex;
    justify-content: center;
}

.product_7 {
    background-color: #eaedee;
    border: 3px solid white;
    padding: 10px;
    grid-area: symbol7;
    display: flex;
    justify-content: center;
}

.product_8 {
    background-color: #eaedee;
    border: 3px solid white;
    padding: 10px;
    grid-area: symbol8;
    display: flex;
    justify-content: center;
}

.product_9 {
    background-color: #eaedee;
    border: 3px solid white;;
    padding: 10px;
    grid-area: symbol9;
    display: flex;
    justify-content: center;
}

.product_10 {
    background-color: #eaedee;
    border: 3px solid white;
    padding: 10px;
    grid-area: symbol9;
    display: flex;
    justify-content: center;
}

.product_11 {
    background-color: #eaedee;
    border: 3px solid white;
    padding: 10px;
    grid-area: symbol9;
    display: flex;
    justify-content: center;
}

.product_12 {
    background-color: #eaedee;
    border: 3px solid white;;
    padding: 10px;
    grid-area: symbol9;
    display: flex;
    justify-content: center;
}

.product_13 {
    background-color: #eaedee;
    border: 3px solid white;
    padding: 10px;
    grid-area: symbol9;
    display: flex;
    justify-content: center;
}

.product_14 {
    background-color: #eaedee;
    border: 3px solid white;
    padding: 10px;
    grid-area: symbol9;
    display: flex;
    justify-content: center;
}

.product_15 {
    background-color: #eaedee;
    border: 3px solid white;
    padding: 10px;
    grid-area: symbol9;
    display: flex;
    justify-content: center;
}

.product_16 {
    background-color: #eaedee;
    border: 3px solid white;
    padding: 10px;
    grid-area: symbol9;
    display: flex;
    justify-content: center;
}