section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start;
}

h1 {
    font-size: 4rem;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.one {
    background: rgb(0, 0, 0);
    /* sätter marginal från topp på sidan */
    /* placerar innehållet i ett rutnät */
    display: grid;
    /* delar upp bredd i fraktioner av hemsidan */
    grid-template-columns: 1fr;
    /* förklarar vilken del som ska finnas vart på sidan */
    grid-template-areas: "pic_1";
}

.box_pic1 {
    position: relative;
    text-align: center;
    color: white;
}


.heading1 {
    position: absolute;
    top: 25%;
    left: 16%;
    transform: translate(-50%, -50%);
}

.heading2 {
    position: absolute;
    top: 34%;
    left: 23%;
    transform: translate(-50%, -50%);
}

/* sätter storlek på bilder */

.box_pic1 img {
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
    object-position: 0 32%;
}

.two {
    background: blue;
    height: 50vh;
}

.three {
    background: green;
}

.four {
    background: lightsalmon;
}