.loginpage_content {
    margin-top: 8rem;
}
.userpage_content {
    margin-top: 8rem;
}

.login_form {
    max-width: 45rem;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}

.member {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.sub_button {
    width: 40%;
    padding: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: black;
    color: white;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.sub_button:hover {
    background: rgb(31, 31, 31);
    transform: scale(1.05);
}

a {
    color: black;
}