.loginpage_content {
    margin-top: 8rem;
}
.userpage_content {
    margin-top: 8rem;
}

.login_form {
    max-width: 45rem;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}

.member {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.cart {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

a {
    color: black;
}

