nav {
    top: 0;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    z-index: 2;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: #0a005f;
}

.second_container a:hover, .third_container a:hover {
    filter: invert(31%) sepia(7%) saturate(0%) hue-rotate(134deg) brightness(98%) contrast(76%);
}

.first_container {
    margin-left: 30px;
}

.second_container a {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    font-weight: normal;
    margin: 10px;
}

.second_container {
    margin-left: 30px;
    height: auto;
    width: auto;
}

.third_container a {
    margin: 10px;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
}

.third_container {
    margin-left: auto;
    margin-right: 30px;
    height: auto;
    width: auto;
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* storlek och annan markör på loga */

.logo {
    width: 6rem;
    cursor: pointer;
}

/* storlek och annan markör på loga */

.menu_logo {
    width: 1.6rem;
    cursor: pointer;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(323deg) brightness(108%) contrast(101%);
}

.social-logo {
    width: 2rem;
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(70deg) brightness(99%) contrast(107%);
}

/* ---------------------------------------------------- */
/* -----------------------FOOTER----------------------- */
/* ---------------------------------------------------- */

footer {
    background-color: #232323;
    margin-top: 2rem;
    height: auto;
    color: #ffff;
    z-index: 2;
}

footer a {
    text-decoration: none;
    color: white;
}

footer img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.footer-content-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-content-bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo-social {
    display: flex;
    flex-direction: row;
}

.social {
    padding: 10px;
}

footer hr {
    border: none;
    height: 0.10px;
    /* Set the hr color */
    color: #5C5C5C;
    /* old IE */
    background-color: #5C5C5C;
    /* Modern Browsers */
    margin: 0.5% 5% 0.5% 5%;
}

/* Ändrar marginaler och utförande på menyrad beroende på skärmstorlek */

@media all and (max-width: 650px) {
    nav li, nav a {
        padding: 0 30px 0 30px;
    }
}

@media all and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}

@media all and (max-width: 400px) {
    nav li, nav a {
        padding: 0 15px 0 5px;
    }
}